/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.centratura {
  padding: 0 10%;
}
.margini {
  margin-bottom:20px;
}
.small {
  display: block;
  font-size: 15px;
}

.button-orange{
  display: inline-block;
  background-color: #f7680f;
  padding: 15px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.fa-check-circle {
  color: #f7680f;
  padding: 0 10px;
}

/* regole griglia */
/* riga */
.riga::after {
  content: "";
  display: table;
  clear: both;
}
/* colonne */

.colonna25 {
  float: left;
  width: 25%;
}

.colonna30 {
  float: left;
  width: 30%;
}
.colonna33 {
  float: left;
  width: calc(100%/3);
}
.colonna50 {
  float: left;
  width: 50%;
}

.colonna70 {
  float: left;
  width: 70%;
}


/* header */

.fa-angle-down {
  padding: 10px;
}

/* menu fisso */
#fissa{
  background-color: #ebf7f7;
  height: 80px;
  border-bottom: solid 2px #33475b;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 90;
}
#fissa li{
  display: inline-block;
}
/* parte sinistra */
.select {
  padding: 0 7px;
  color: #33475b;
  padding-top: 25px;
}
#contact {
  border-left: solid #33475b 1px;
  text-decoration: none;
  padding-left: 10px;
  color: #33475b;
}
/* parte destra */
.search {
  text-align: right;
  padding-top: 10px;
}
.search i {
  color:#56c4cc;
}
#login {
  text-decoration: none;
  color:#f7680f;
  border: solid #f76802 1px;
  border-radius: 5px;
  padding: 15px;
  margin: 0 7px;
}

/* menu in pagina */
.menu {
  height: 80px;
  padding-top: 25px;
  margin-top: 80px;
}

.menu nav {
  text-align: right;
}

.menu li {
  display: inline-block;
  margin: 0 7px;
}

.menu ul li a {
  text-decoration: none;
  color:#33475b;
}

/* jumbotron */
#jumbo {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 98%;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}
.descrizione {
  width: 50%;
  color: #33475b;
  position:absolute;
  top: 10%;
}


/* main */

.FreeCRM div:first-child, .custumers div:first-child {
  text-align: center;
}

main .button-orange{
  display: block;
  margin: 0 70px;
}
/* prima sezione */
main section:first-child {
  background-color: #f5fffb;
  color: #33475b;
}
.contenitore-bianco{
  background-color: white;
  box-shadow:  2px  2px 1px #ededed,
              -2px -2px 1px #ededed,
               2px -2px 1px #ededed,
              -2px  2px 1px #ededed;
  border-radius: 10px;
  padding: 30px;
}

.FreeCRM ul {
  margin-top: 20px;
}

.FreeCRM ul li {
  display: inline-block;
  text-decoration: none;
}

.rappresentative {
  height: 100px;
  padding: 10px;
}

/* introduzione */
.introduzione  {
  text-align: center;
  padding: 30px;

}
.introduzione .CMR{
  padding: 30px 20%;
}
.introduzione img {
  width: 200px;
}

/* prima riga */

#riga-orizzontale{
  display: inline-block;
  float: right;
  border: 1px solid grey;
  height: 1px;
  width: 70%;
  margin-top: 8px;

}
/* seconda riga */

.colonna33 .contenitore-bianco {
  width: 300px;
}
.marketing{
  margin: 30px 0;
}
.Sales{
  margin: 30px auto;
}
.service{
  margin:30px 0;
  float: right;
}
.presentazionehub {
  text-align: center;
  min-height: 254px;
  margin-bottom: 20px;
}
.popolar-feature ul{
  list-style: none;
}

.popolar-feature .button-orange {
  margin: 0 49px;
}

/* seconda sezione */
main section:nth-child(2) {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
}
.community {
  text-align: center;
  padding-bottom: 10%;
}
.community .colonna25{
  border-right: solid white 1px;
  padding: 5% 5%;
  height: 220px;
}
.community .riga .colonna25:last-child{
  border-right: none;
}

.community .riga:first-child .colonna25 {
  border-bottom:solid white 1px;
}

.community h2 {
  font-size: 40px;
}

/* terza sezione */
main section:last-child {
  color:#33475b;
}
/* prima riga */

.custumers, .start{
padding: 40px 0;
}

.custumers h2 {
  font-size: 40px;
  padding-top: 20px;
}
.customers ul {
  max-width: 600px;
}
.custumers ul li{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 20%;
  padding: 10px;
}
.custumers li img{
  width: 100%;
  max-height: 100%;
}
.start .button-orange {
  margin: 0 72% 20px 0;
}
#woman {
  height: 200px;
  margin-left: 55%;
}

/* footer */

footer {
  background-color: #33475b;
}


/* into */
#info {
  padding: 20px 0;
}
#info h4{
  color: white;
}
#info ul{
 list-style: none;
}
#info ul li a{
  text-decoration: none;
  color: #cbd6e2;
}
#social ul li{
  display: inline-block;
  padding-right: 20px;
}
#support a{
  background-color:white;
  color: #33475b !important;
  padding: 10px 8px;
  border-radius: 3px;
}
/* seleziona lingua */
#lingue {
  border-bottom: solid 1px #cbd6e2;
}
#lingue ul{
text-align: center;
}

#lingue ul li{
display: inline-block;
padding-bottom: 20px;
padding-left: 10px;
}
#lingue ul li a{
text-decoration: none;
color: #cbd6e2;

}

/* legal */
#finale{
  padding-top: 20px;
}
#copyright {
  color: white;
  display: block;
  font-size: 15px;
}
#finale ul{
text-align: right;
}
#finale ul li{
display: inline-block;
}
#finale ul li a{
text-decoration: none;
color: #cbd6e2;
margin-right: 10px;
}
/* hover */

footer a:hover{
  color: #7fd1de!important;
}
